In [9]:
import pandas as pd 

df = pd.read_csv('Book1.csv' , nrows=1)
df

    name  salary
0  abdul    2000

In [ ]:
import matplotlib.pyplot as plt